/* Fonts */
@font-face {
    font-family: Poppins;
    src: url("assets/fonts/Poppins-Regular.ttf");
}

@font-face {
    font-family: Ubuntu;
    src: url("assets/fonts/Ubuntu-Regular.ttf");
}

/* variables */
:root{
    --font-ubuntu: Ubuntu;
    --font-poppins: Poppins;
    --theme-color: #F5CA7B;
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    width: 100%;
}

/* ****** For Mobile and Smartphone screen ******* */

/* Header styling */
header{
    width: 100%;
    height: 100vh;
    background: url("assets/images/despaired-g55720b1fe_1920.jpg") no-repeat center;
    background-size: cover;
    color: white;
    font-family: var(--font-ubuntu);
    min-height: 750px;
}

header #navbar{
    width: 100%;
    height: 70px;
    position: fixed;
    z-index: 999;
}

header #navbar .logo{
    color: white;
    line-height: 70px;
    font-size: 24px;
    margin-left: 30px;
}

header #navbar .logo span{
    color: var(--theme-color);
}

header .container span {
    color: var(--theme-color);
}

header #navbar .logo {
    transition: all .3s ease-in-out; 
}

header #navbar .logo:hover {
    position: absolute;
    transform: scale(1.2);
}

header nav ul a{
    color: white;
    font-size: 17px;
    transition: all 0.5s;
}

header .login-btn{
    font-size: 19px;
    background-color: var(--theme-color);
    -webkit-transition: all 0.5s;
	transition: all 0.5s;
    padding: 7px 25px;
    color: #232b2b;
    font-family: var(--font-ubuntu);
    border-radius: 5px;
    box-shadow: 0 10px 5px rgba(0, 0, 0, 0.6);
}

header nav ul a:hover{
    color: var(--theme-color);
}

header .login-btn:hover,
.login-btn:focus {
	color: var(--theme-color);
    background-color: #333;
    box-shadow: 0 10px 5px rgba(0, 0, 0, 0.6);
} 

header .header-btn:focus {
    color: var(--theme-color);
    background-color: #333;
}

/* header .login-btn {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}  

header .login-btn:hover, .login-btn:focus {
    animation: pulse 1s;
    box-shadow: 0 0 0 1em transparent;
} */

header nav ul{
    width: 0%;
    height: 100vh;
    position: fixed;
    background-color: #232b2b;
    text-align: center;
    overflow: hidden;
    transition: all .5s;
}

header nav ul li{
    padding: 10px 0;
}

header .container{
    position: absolute;
    padding-top: 70px;
    margin-top: 10%;
    margin-left: 10%;
}

header .container p{
    font-size: 30px;
    letter-spacing: 2px;
}

header .container h1{
    font-size: 50px;
    letter-spacing: 2px;
    color: var(--theme-color);
    padding: 10px 0px;
}

header .container h2{
    font-size: 23px;
    letter-spacing: 2px;
    font-weight: 500;
    width: 85vw;
    padding-bottom: 20px;
}

header .container h3{
    font-size: 19px;
    letter-spacing: 2px;
    font-weight: 500;
    width: 85vw;
    padding-bottom: 40px;
}

header .container a {
    display: inline-block;
    margin-top: 10px;
    font-size: 19px;
    background-color: var(--theme-color);
    color: #232b2b;
    padding: 8px 36px;
    -webkit-transition: all 0.5s;
	transition: all 0.5s;
    border-radius: 5px;
}

header .header-btn {
    box-shadow: 0 10px 5px rgba(0, 0, 0, 0.6);
}  

header .header-btn:hover, .header-btn:focus {
    animation: pulse 1s;
    box-shadow: 0 0 0 1em transparent;
}

@keyframes pulse {
    0% { box-shadow: 0 0 0 0 var(--theme-color); }
}

header .header-btn:nth-of-type(2){
    margin-top: 15px;
}

.container .header-btn{
    font-size: 19px;
}

/* Hamburger Menu */

header nav #menuBtn{
    color: var(--theme-color);
    position: absolute;
    top: 0;
    right: 0;
    line-height: 70px;
    cursor: pointer;
    margin-right: 30px;
    font-size: 24px;
    margin-top: 22px;
}

.visuallyHidden {
    position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height: 1px; width: 1px; 
    margin: -1px; padding: 0; border: 0; 
}

.hamburger {
    margin: 0 auto;
    margin-top: 30px;
    width: 30px;
    height: 30px;
    position: relative;
}

.hamburger .bar {
    padding: 0;
    width: 30px;
    height: 4px;
    background-color: var(--theme-color);
    display: block;
    border-radius: 4px;
    transition: all 0.4s ease-in-out;
    position: absolute; 
}

.bar1 {
    top: 0;
}

.bar2,
.bar3 {
    top: 13.5px;
}

.bar3 {
    right: 0;
}

.bar4 {
    bottom: 0;
}

.checkbox2:checked + label > .hamburger2 > .bar1{
    transform: translateX(40px);
    background-color: transparent;
}

.checkbox2:checked + label > .hamburger2 > .bar2{
    transform: rotate(45deg);
}

.checkbox2:checked + label > .hamburger2 > .bar3{
    transform: rotate(-45deg);
}

.checkbox2:checked + label > .hamburger2 > .bar4{
    transform: translateX(-40px);
    background-color: transparent;
}

/* About styling */

main{
    font-family: var(--font-poppins);
}

.about{
    width: 100%;
    height: auto;
    text-align: center;
    margin: 40px 0;
}

.about .col{
    width: 250px;
    height: 250px;
    overflow: hidden;
    display: block;
    margin: 20px auto;
    background-color: #eef1f6;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.about .col img{
    width: 90%;
    margin-top: 30px;
}

.about .col h1{
    font-size: 20px;
    margin: 10px 15px;
}

.about .col p{
    font-size: 10px;
    width: 90%;
    margin: 10px auto;
}

.about .col p #downloadForFree{
    font-size: 11px;
}

.about .col2{
    position: relative;
}

.about .col2 .sm-icons{
    position: absolute;
    bottom: 10px;
    margin: 0 15px;
}

.about .col2 .sm-icons a{
    color: #232b2b;
    font-size: 20px;
    padding-left: 16px;
    transition: all .1s ease-in-out;
}


.about .sm-icons a:hover{
    color: var(--theme-color);
}

.about .sm-icons i{
    transition: all .5s ease-in-out;
}

.about .sm-icons i:hover{
    transform: scale(1.2);
}

main .about #get-google{
    width: 175px;
}

main .about #get-apple{
    width: 175px;
}

main .about .get-app{
    margin-top: 10px;
    height: auto;
    transition: all .5s ease-in-out;
}

main .about .get-app:hover{
    transform: scale(1.1);
}

main .about .qrcode{
    margin-top: 0px;
    width: 150px;
    height: auto;   
}


/* services styling */

.services{
    width: 100%;
    text-align: center;
    margin: 60px 0;
}

.services h1{
    font-size: 25px;
    padding: 10px 0;
}

.services h2{
    font-size: 13px;
    width: 84%;
    margin: 0 auto;
    padding-bottom: 20px;
}

.services .col {
    width: 250px;
    height: 180px;
    margin: 30px auto;
    display: block;
    transform: all .5s;
}

.services .col:hover {
    transform: scale(1.1);
}

.services .col i {
    color: var(--theme-color);
    font-size: 40px;
    padding-bottom: 10px;
}

.services .col h3{
    font-size: 14px;
    padding: 10px 0;
}

.services .col h4{
    font-size: 10px;
    width: 97%;
    text-align: center;
}

/* latest works styling */

.works{
    width: 100%;
    height: auto;
    margin: 40px auto;
    text-align: center;
}

.works h1{
    font-size: 23px;
}

.works h3{
    font-size: 12px;
    width: 90%;
    margin: 20px auto;
}

.works ul li{
    margin-top: 50px;
    display: inline-block;
    padding: 0 10px;
}

.works ul a{
    font-size: 14px;
    color: #828282;
    font-weight: 600;
}

.works ul .active{
    color: var(--theme-color);
}

.works .images{
    width: 90%;
    height: auto;
    margin: 10px auto;
}

.works .images img{
    width: 90%;
    margin: 20px;
    border-radius: 10px;
}

/* Cards Styling */

.cardcontainer {
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1500px;
    margin: 15px auto;
}

.cardcontainer .card{
    position: relative;
    min-width: 400px;
    height: 440px;
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
    inset -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    margin: 30px;
    transition: 0.5s;
}

.cardcontainer .card .cardbox {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    background: #232b2b;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    transition: 0.5s;
}

.cardcontainer .card .cardbox:hover{
    transform: translateY(-15px);
}

.cardcontainer .card .cardbox:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, 0.03);
}

.cardcontainer .card .cardbox .cardcontent{
    padding: 20px;
    text-align: center;
}

.cardcontainer .card .cardbox .cardcontent h3 {
    font-size: 1.8rem;
    color: var(--theme-color);
    z-index: 1;
    transition: 0.5s;
    margin-bottom: 15px;
} 

.cardcontainer .card .cardbox .cardcontent p {
    font-size: 1rem;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.9);
    z-index: 1;
    transition: 0.5s;
}

.cardcontainer .card .cardbox .cardcontent a {
    position: absolute;
    display: inline-block;
    padding: 8px 20px;
    background: var(--theme-color);
    border-radius: 5px;
    text-decoration: none;
    color: #232b2b;
    margin-top: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
    bottom: 30px;
    margin-left: 35px;
}

.cardcontainer .card .cardbox .cardcontent a:hover {
    animation: pulse 1s;
    box-shadow: 0 0 0 1em transparent;
}

/* End Cards Styling  */

@keyframes pulse {
    0% { box-shadow: 0 0 0 0 var(--theme-color); }
}

.works .alljobbs-btn {
    font-size: 19px;
    background-color: var(--theme-color);
    -webkit-transition: all 0.5s;
	transition: all 0.5s;
    padding: 7px 25px;
    color: #232b2b;
    font-family: var(--font-ubuntu);
    border-radius: 5px;
    box-shadow: 0 10px 5px rgba(0, 0, 0, 0.6);
}

.works .alljobbs-btn:hover, .alljobbs-btn:focus {
    animation: pulse 1s;
    box-shadow: 0 0 0 1em transparent;
}

@keyframes pulse {
    0% { box-shadow: 0 0 0 0 var(--theme-color); }
}



/* contact form styling */

.contact{
    width: 90vw;
    height: auto;
    text-align: center;
    margin: 60px auto;
}

.contact h1{
    font-size: 23px;
}

.contact h3{
    font-size: 13px;
    margin: 20px 0;
}

.contact .inline-container{
    width: 100%;
    display: inline-block;
}

.contact input , textarea{
    display: block;
    background-color: #f6f6f6;
    border: none;
    outline: none;
    width: 70%;
    height: 45px;
    padding: 0 10px;
    margin: 15px auto;
    font-family: var(--font-ubuntu);
    border-bottom: 2px solid #b1b1b8;
    font-size: 12px;
}

.contact input:hover , textarea:hover{
    border-bottom: 2px solid var(--theme-color);
}

.contact textarea{
    margin: 40px auto;
    padding: 10px;
    height: 80px;
}

.contact button{
    width: 75%;
    border: none;
    outline: none;
    height: 40px;
    background-color: var(--theme-color);
    font-family: var(--font-ubuntu);
    opacity: 0.8;
    font-size: 14px;
    border-radius: 2px;
}

.contact button:hover{
    opacity: 1;
}

/* footer styling */

footer{
    width: 100%;
    height: 70px;
    background-color: #232b2b;
    text-align: center;
    color: var(--theme-color);
    font-family: var(--font-ubuntu);
}

footer p{
    font-size: 15px;
    padding-top: 20px;
}

/* ****** For Tablets and Ipad screen ******* */



@media(min-width: 767px) {

/* Header Styling */

    header .header-btn:nth-of-type(2){
        margin-left: 15px;
    }
 
/* about styling */
    .about .col{
        width: 350px;
        height: 350px;
    }
    
    .about .col h1{
        color: #232b2b;
        font-size: 23px;
    }
    
    .about .col p{
        color: #232b2b;
        font-size: 15px;
    }

    .about .col2 .sm-icons a{
        font-size: 30px;
    }

    .about .col p #downloadForFree{
        font-size: 16px;
    }

    main .about #get-google{
        width: 225px;
    }
    
    main .about #get-apple{
        width: 255px;
    }
    
    main .about .get-app{
        margin-top: 10px;
        height: auto;
        transition: all .5s ease-in-out;
    }
    
    main .about .get-app:hover{
        transform: scale(1.1);
    }
    
    main .about .qrcode{
        margin-top: 0px;
        width: 210px;
        height: auto;   
    }

    /* services styling */

    .services .col {
        width: 350px;
        height: 230px;
        margin: 40px auto;
        display: block;
        transition: all .5s;
    }
    
    .services .col:hover {
        transform: scale(1.1);
    }
    
    .services .col i {
        font-size: 50px;
    }
    
    .services .col h3{
        font-size: 17px;
    }
    
    .services .col h4{
        font-size: 12px;
    }

    /* latest works styling */

    .works h1{
        font-size: 27px;
    }
    
    .works h3{
        font-size: 18px;
        width: 70%;
        margin: 30px auto 45px;
    }
    
    .works ul a{
        font-size: 16px;
    }
    
    .works .images{
        width: 90vw;
        height: auto;
        margin: 30px auto;
    }
    
    .works .images img{
        width: 40%;
    }

    /* contact form styling */
    
    .contact .inline-container input{
        width: 33%;
        display: inline-block;
        margin: 0 15px;
    }
    
    .contact button{
       width: 70%;
    }
}

/* ****** For Tablets portrait mode and desktops screen ******* */

@media (min-width: 1300px){
    /* header styling */
    header nav ul{
        position: absolute;
        width: 100%;
        display: flex;
        height: auto;
        background-color: transparent;
        margin-left: 250px;
        top: 0;
    }

    header nav ul li{
        padding: 0 30px;
        line-height: 70px;
    }

    header nav ul a{
        font-size: 15px;
    }

    #menuBtn {
        display: none;
    }
    
    header nav ul li .borderBottomShort{
        position: absolute;
        width: 0px;
        height: 2px;
        background-color: var(--theme-color);
        bottom: 15px;
        transition: all .5s;
    }

    header nav ul li .borderBottom{
        position: absolute;
        width: 0px;
        height: 2px;
        background-color: var(--theme-color);
        bottom: 15px;
        transition: all .5s;
    }

    header nav ul li .borderBottomLong{
        position: absolute;
        width: 0px;
        height: 2px;
        background-color: var(--theme-color);
        bottom: 15px;
        transition: all .5s;
    }

    header nav ul li .borderBottomExtraLong{
        position: absolute;
        width: 0px;
        height: 2px;
        background-color: var(--theme-color);
        bottom: 15px;
        transition: all .5s;
    }

    header nav ul li .borderBottomMedium{
        position: absolute;
        width: 0px;
        height: 2px;
        background-color: var(--theme-color);
        bottom: 15px;
        transition: all .5s;
    }

    header nav ul li:hover > .borderBottomMedium{
        width: 63px;
    }

    header nav ul li:hover > .borderBottom{
        width: 70px;
    }

    header nav ul li:hover > .borderBottomLong{
        width: 100px;
    }

    header nav ul li:hover > .borderBottomExtraLong{
        width: 150px;
    }

    header nav ul li:hover > .borderBottomShort{
        width: 40px;
    }

    header .container{
       margin-top: 8%;
    }
    
    header .container p{
        font-size: 40px;
    }
    
    header .container h1{
        font-size: 70px;
    }
    
    header .container h2{
        font-size: 27px;
        width: 50vw;
        padding-bottom: 30px;
    }

    header .container h3{
        font-size: 19px;
        width: 50vw;
    }
    
    header .container a {
        padding: 10px 40px;
    }

    header .header-btn:nth-of-type(2){
        margin-left: 15px;
    }

    header #menu .align-right {
        margin-left: auto;
        margin-right: 150px;
        position: relative;
        left: -250px;
    }

    /* about styling */
    .about{
        margin: 60px 0;
    }
    .about .col{
        width: 350px;
        height: 350px;
        display: inline-block;
        margin: 20px 30px;
    }
    
    .about .col h1{
        font-size: 23px;
    }
    
    .about .col p{
        font-size: 15px;
    }

     /* services styling */

     .services {
        margin: 100px 0;
     }

     .services h1{
        font-size: 27px;
     }

     .services h2{
        font-size: 12px;
        width: 50%;
        font-weight: 300;
     }

     .services .col {
        width: 350px;
        height: 230px;
        margin: 30px 20px;
        display: inline-block;
        transition: all .5s;
        cursor: pointer;
    }
    
    .services .col:hover {
        transform: scale(1.1);
    }

    /* latest work styling */

    .works h1{
        font-size: 30px;
    }
    
    .works ul li{
        display: inline-block;
    }

    .works ul a{
        font-size: 16px;
        color: #828282;
    }
  
    .works .images img{
        width: 25%;
        margin: 20px;
        box-shadow: 3px 2px 5px 1px #f2f2f2;
    }

    /* contact form styling */

    .contact .inline-container input{
        width: 34%;
        display: inline-block;
        margin: 0 15px;
    }
    
    .contact button{
       width: 50%;
       cursor: pointer;
    }

    .contact h3{
        width: 60%;
        margin: 30px auto;
        font-weight: 400;
    }
}